body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  display: flex;
  flex-direction: column;
}
.header {
  margin: 5px;
}

.header form {
  display: flex;
}

.header form input[type="text"] {
  flex: 7;
}

.header form input[type="submit"] {
  flex: 1;
}

.pokemonbox {
  border: black 1px solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
  padding: 5px;
}

.pokemonbox h1 {
  text-transform: capitalize;
}

.pokemonbox .pokemonimg {
  border: black solid 1px;
  padding: 5px;
}

.pokemonbox .pokemonimg img {
  width: 150px;
  height: 150px;
}

.pokemonbox .pokemontable {
  text-align: center;
}
